<section class="chain-home-section">
  <div class="container chin-home-sid">
    <h class="chain-home-title" id="chain-home"></h>
    <picture>
      <source srcset="../img/chain-home/img6@2x.png" media="(min-width: 1920px)" />
      <source srcset="../img/chain-home/img5@2x.png" media="(min-width: 1440px)" />
      <source srcset="../img/chain-home/img4@2x.png" media="(min-width: 1280px)" />
      <source srcset="../img/chain-home/img3@2x.png" media="(min-width: 1024px)" />
      <source srcset="../img/chain-home/img2@2x.png" media="(min-width: 768px)" />
      <source srcset="../img/chain-home/img@2x.png" media="(min-width: 375px)" />
      <img src="../img/chain-home/img@2x.png" alt="Responsive Image" />
    </picture>
  </div>
</section>
