<section class="featured-home-section">
  <div class="container feat-home-div">
    <h2 class="feat-home-title" id="feat-home-title"></h2>
    <div class="feat-home-img-list">
      <img src="../img/featured-home/img1.png" alt="company logo" class="feat-home-img" />
      <img src="../img/featured-home/img2.png" alt="company logo" class="feat-home-img" />
      <img src="../img/featured-home/img3.png" alt="company logo" class="feat-home-img" />
      <img src="../img/featured-home/img4.png" alt="company logo" class="feat-home-img" />
    </div>
  </div>
</section>
