<section class="form-home-section">
  <div class="container form-home-div">
    <h2 class="form-home-title" id="form-home-title"></h2>
    <div class="form-home-form-div">
      <form class="form-home">
        <h3 class="form-home-form-title" id="form-home-form-title"></h3>
        <label
          for="name"
          id="form-home-form-label-one"
          class="form-lbl"
        ></label>
        <input
          type="text"
          class="form-home-input"
          id="name"
          placeholder="John Appleseed"
        />
        <label
          for="bus-name"
          id="form-home-form-label-two"
          class="form-lbl"
        ></label>
        <input
          type="text"
          class="form-home-input"
          id="bus-name"
          placeholder="Burgers &Boba (Singapore)"
        />
        <label
          for="number"
          id="form-home-form-label-three"
          class="form-lbl"
        ></label>
        <input
          type="number"
          class="form-home-input"
          id="number"
          placeholder="65 9123 4567"
        />
        <button type="submit" id="form-btn" class="form-btn"></button>
        <p class="form-home-promise" id="form-home-promise"></p>
      </form>
    </div>
  </div>
</section>


