<section class="hero-home-section">
  <div class="container hero-home-div">
    <h2 class="hero-home-div-title" id="hero-home-div-title"></h2>
    <p class="hero-home-div-text" id="hero-home-div-text"></p>
    <button class="hero-home-div-btn" id="hero-home-div-btn" onclick="scrollToSection()"></button>
    <div class="sml-txt">
      <p class="hero-home-div-sml-text" id="hero-home-div-sml-text"></p>
      <img src="../img/hero-home/smile.png" alt="smile" class="sml-smile">
    </div>
  </div>
</section>
