<section class="how-it-works">
  <div class="container hiw-div">
    <div class="desk-hiw-div">
      <h2 class="hiw-title" id="hiw-title"></h2>
      <p class="hiw-text" id="hiw-text"></p>
      <div class="hiw-play-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="13"
          viewBox="0 0 11 13"
          fill="none"
        >
          <path
            d="M2.06274 0.764102C1.06217 0.143528 0.250977 0.65191 0.250977 1.8987V11.0994C0.250977 12.3475 1.06217 12.8552 2.06274 12.2352L9.5003 7.62322C10.5012 7.00243 10.5012 5.99665 9.5003 5.376L2.06274 0.764102Z"
            fill="#212121"
          />
        </svg>
        <p class="paly-btn-text">Play Video</p>
      </div>
    </div>
    <picture class="img-hiw-picture">
      <source
        srcset="../img/how-it-works-home/desk-large@2x.png"
        media="(min-width: 1440px)"
      />
      <source
        srcset="../img/how-it-works-home/desk@2x.png"
        media="(min-width: 1024px)"
      />
      <source
        srcset="../img/how-it-works-home/img-tablet@2x.png"
        media="(min-width: 768px)"
      />
      <source
        srcset="../img/how-it-works-home/img@2x.png"
        media="(min-width: 375px)"
      />
      <img src="../img/how-it-works-home/img@2x.png" alt="Responsive Image" />
    </picture>
  </div>
</section>
